@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

h1{
    font-family: 'Roboto Mono', monospace;
}

.Home{
    margin-block-end: 75px;
    margin-left: 22%;
    margin-right: 38%;
    margin-top: 50px;
    width:500px;
    height:400px;
    border:solid 5px;
    border-radius:20px;
    
}

.Tech{
    border-radius:18px;
    width: 500px;
    height: 400px;
}